body{
    margin: 0;
    margin-top: 0;
   background: whitesmoke;
}
header{
    height: 75px;
    width: 100%;
    /* border: .5px solid rgb(29, 28, 28); */
    display: flex;
     box-shadow: rgba(120, 147, 172, 0.74) 0px -23px 25px 0px inset, rgba(5, 2, 2, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.container{
    font-family: Comic Sans MS, Comic Sans, cursive ;
    font-size: large; 
}
.containerlist-items{
    display: flex;
    gap: 2rem;
    margin-left: 700px;
    margin-top: 30px;
    font-size: 13px;
   text-decoration: none;
    color: black;
}
   
.container-list-items{
    text-decoration: none;
    list-style: none;
    color: rgba(32, 31, 31, 0.877);
}
.container-main{
    width: 27%;
    height:450px;
    border: 1px solid white;
    margin-left: 500px;
    margin-top: 100px;
    background-image: linear-gradient(-220deg,#24c96e 0%,#000 60%);
    box-shadow: rgba(3, 3, 3, 0.56) 0px 22px 70px 4px;
    text-align: center;
    border-radius: 50px;


    
}
.container-body-list{
    margin-top: 20px;
    width: 70%;
    height: 50px;
    border-radius: 30px ;
    text-align: center;
}
.container-login{
    font-size: 50px;
    color: white;

}
.container-body-login{
    margin-top: 30px;
    width: 28%;
    height: 33px;
    border-radius: 15px;
    text-align: center;
    font-size: large;
    background: #8b9399;
   
}
.container-footer{
    margin-top: 30px;
    font-size: medium;
    font-size: large;
}

.container-footer-signup{
    font-size: large;
    color: bisque;
    margin-left: 15px;
    text-decoration: none;
    margin-top: 30px;
}
.container-body-login:hover{
    background: #6f7997;
  
}
